body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

#call{
    font-family: Arial,sans-serif;
    color: black;
    font-weight: bold;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px,solid;
    border-radius: 50px;
    padding: 25px;
    background-color: bisque;
}
#display{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    padding: 5px;
    margin: 2px,2px,2px,2px;
}

#startbtn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    background-color: gray;
    color: aliceblue;
}
#resetbtn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    background-color:blue;
    color: aliceblue;
}
#stopbtn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    background-color: red;
    color: aliceblue;
}